body {
  background: rgb(190, 229, 244);
}
.logo {
  display: block;
  margin: 0px 20px 60px;
}
h1 {
  font-size: 33px;
  text-align: center;
  font-family: "Trebuchet MS";
  margin-top: 40px;
}
h3 {
  text-align: center;
  margin: 40px;
  font-size: 15px;
  font-family: sans-serif;
}
.top {
  display: flex;
}
.container {
  max-width: 800px;
  background: white;
  display: block;
  margin: 5px auto;
  padding: 5%;
  border-radius: 5px;
  border: 3px solid blue;
}
.now-time {
  text-align: center;
  padding: 3%;
  border: 1px solid rgb(213, 233, 239);
  width: 250px;
  display: block;
  margin: 0 auto;
  font-family: "Macondo", serif;
  font-size: 16px;
}
/* CURRENT & FORECAST */
.forecast {
  display: flex;
  justify-content: space-between;
  font-family: "Macondo", serif;
  font-size: 15px;
}
.city-forecast-day {
  font-size: 18px;
}
.city-forecast-icon {
  font-size: 24px;
}
.city-forecast-temp {
  font-size: 18px;
}
.current-temp {
  display: flex;
  justify-content: space-evenly;
  margin-right: 70px;
}
.city-name {
  font-family: "Macondo", serif;
  font-weight: bold;
  font-size: 56px;
  text-align: center;
  border-top: 1px solid rgb(210, 210, 210);
  padding: 20px;
}
.today-icon {
  font-size: 70px;
  position: relative;
  left: 20px;
  bottom: 25px;
}
.today-desctiption {
  font-size: 18px;
  font-family: "Macondo", serif;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -30px;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 10px;
}
.today-temperature {
  font-size: 33px;
  font-weight: bold;
  font-family: "Macondo", serif;
  position: relative;
  left: 50px;
}
.current {
  display: flex;
  justify-content: space-between;
  margin: 50px 10px 50px;
  font-size: 18px;
  font-family: sans-serif;
}
.today-wind {
  border: 1px solid rgb(213, 233, 239);
  padding: 20px;
  font-family: "Macondo", serif;
}
.today-feels-like {
  border: 1px solid rgb(213, 233, 239);
  padding: 20px;
  font-family: "Macondo", serif;
}
.today-rain {
  border: 1px solid rgb(213, 233, 239);
  padding: 20px;
  font-family: "Macondo", serif;
}
/* SUN/timezone */
.sun-time {
  display: flex;
  justify-content: space-around;
  font-family: "Macondo", serif;
  font-size: 16px;
  margin-top: -20px;
}
.sun-up {
  border: 1px solid rgb(213, 233, 239);
  padding: 10px;
}
.sun-down {
  border: 1px solid rgb(213, 233, 239);
  padding: 10px;
}
.timezone {
  text-align: center;
  font-family: "Macondo", serif;
  font-size: 16px;
  margin-top: 20px;
  color: rgb(105, 105, 105);
}
.line-sun {
  border-top: 1px solid rgb(210, 210, 210);
  padding: 20px;
  margin: 30px 0;
}
/* SEARCH BAR */
.searchCity {
  display: flex;
  margin: 40px -8px;
  justify-content: space-evenly;
}
.searchBar {
  width: 600px;
  padding: 15px;
  border-radius: 40px;
  border: none;
  color: rgb(24, 48, 143);
  background: rgb(126, 221, 255);
  font-size: 18px;
  font-family: sans-serif;
}
.submit {
  color: white;
  background: rgb(72, 196, 238);
  padding: 10px;
  border: none;
  border-radius: 200px;
  font-size: 15px;
  font-family: sans-serif;
  cursor: pointer;
}
.submit:hover {
  background: rgb(163, 224, 246);
}
/* ____ */
.function-more {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 10px;
  margin: 50px 20px;
}
.map-button {
  background: rgb(192, 150, 191);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(131, 92, 147);
  font-size: 15px;
  cursor: pointer;
}
.danger-button {
  background: rgb(238, 150, 150);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(163, 68, 114);
  font-size: 15px;
  cursor: pointer;
}
.snow-button {
  background: rgb(159, 223, 236);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(82, 157, 165);
  font-size: 15px;
  cursor: pointer;
}
.mountain-button {
  background: rgb(142, 177, 142);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgb(96, 143, 95);
  font-size: 15px;
  cursor: pointer;
}
.mountain-button:hover {
  background: rgb(116, 152, 116);
}
.snow-button:hover {
  background: rgb(135, 196, 208);
}
.danger-button:hover {
  background: rgb(209, 122, 122);
}
.map-button:hover {
  background: rgb(167, 126, 166);
}
/* FOOTER */
footer {
  text-align: center;
  font-family: sans-serif;
}
a {
  color: rgb(8, 128, 158);
  text-decoration: none;
}
a:hover {
  color: rgb(60, 153, 176);
}
